source_env_if_exists .envrc.local
export UV_NO_MANAGED_PYTHON=true
export UV_PYTHON=python3.14
[ ! -d .venv ] && uv venv --system-site-packages
uv sync --locked --all-extras
source .venv/bin/activate
