*.py[cod]
*.so
.svn
*.swp
*.bak
*.mc*
.eggs/
tobedel/
__pycache__/
build/
site/
dist/
src/pysmo.aimbat.egg-info/
.DS_Store
.pytest_cache/
pysmo.aimbat.egg-info/
.python-version
.vscode/settings.json
coverage.xml
old
.coverage
sample-data
aimbat.db
.tox
nohup.out
blah.py
.idea
.direnv
.venv
junit.xml
.ipynb_checkpoints
reset_project.sh
