site_name: AIMBAT
copyright: Copyright &copy; 2024 Simon Lloyd

# Repository
repo_name: pysmo/aimbat
repo_url: https://github.com/pysmo/aimbat

# Configuration
theme:
  name: material
  features:
    # - announce.dismiss
    # - content.action.edit
    # - content.action.view
    - content.code.annotate
    - content.code.copy
    - content.tooltips
    - navigation.footer
    # - navigation.indexes
    # - navigation.sections
    # - navigation.tabs
    - navigation.top
  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: purple
      accent: purple
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: purple
      accent: purple
      toggle:
        icon: material/brightness-4
        name: Switch to system preference

extra:
  version:
    provider: mike

markdown_extensions:
  - admonition
  - attr_list
  - footnotes
  - md_in_html
  - pymdownx.details
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format ""
  - pymdownx.snippets
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
        # - markdown_include.include:
        #     base_path: docs
        # - termynal:
        #     prompt_literal_start:
        #       - "$"
        #       - ">"
        #       - ">>>"


plugins:
  - search
  - mkdocs-jupyter:
      ignore:
        - docs/user-guide/gen_ref_pages.py
  - gen-files:
      scripts:
        - docs/user-guide/gen_ref_pages.py
  - literate-nav:
      nav_file: SUMMARY.md
  - section-index
  - mkdocstrings:
      handlers:
        python:
          options:
            docstring_style: google
          import:
            - https://docs.pysmo.org/en/latest/objects.inv
            - https://docs.python.org/3/objects.inv
            - https://numpy.org/doc/stable/objects.inv
            - https://docs.scipy.org/doc/scipy/objects.inv
            - https://matplotlib.org/stable/objects.inv
  - termynal

nav:
  - Home: user-guide/index.md
  - First Steps:
      - Installation: user-guide/installation.md
      - Data & Conventions: user-guide/data.md
      - Workflow & Strategy: user-guide/workflow.md
  - User Guide:
      - user-guide/overview.md
      - user-guide/cli.md
      - examples/tutorial.ipynb
      - user-guide/gui.md
  - Getting Help: user-guide/help.md
  - API: reference/
  - Contributors: user-guide/contributors.md
  - Changelog: user-guide/changelog.md
