[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-mpl = "*"
pylint = "*"
Sphinx = "*"
sphinx-rtd-theme = "*"
pytest-cov = "*"

[packages]
pysmo = "~=0.8"
scipy = "~=1.2"
numpy = "~=1.15"
matplotlib = "~=3.0"
pyqtgraph = "~=0.10"
pyside2 = "*"

[requires]
python_version = "3.8"
